.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 32px 0 32px;
}

.tabs {
    display: flex;
    width: 1080px;

}

.tabs button {
    min-width: 150px;
    min-height: 75px;
    margin-right: 20px;
}

.about button {
    border: none;
    background-color: bisque;
    border-radius: 8px 8px 0 0;

}

.about button:hover {
    background-color: red;
    border-color: red;
}

.work button {
    border: none;
    background-color: palegreen;
    border-radius: 8px 8px 0 0;

}

.work button:hover {
    background-color: red;
    border-color: red;
}

.links button {
    border: none;
    background-color: paleturquoise;
    border-radius: 8px 8px 0 0;

}

.links button:hover {
    background-color: red;
    border-color: red;
}

.contact button {
    border: none;
    background-color: palevioletred;
    border-radius: 8px 8px 0 0;

}

.contact button:hover {
    background-color: red;
    border-color: red;
}

.folder {
    background-color: bisque;
    width: 1080px;
    height: 720px;
    border-radius: 0 16px 0 0;
    box-shadow: 0 -2px 8px rgba(64, 64, 64, 25%);
}