html {
    overflow-y: scroll;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 64px 0 32px;
}

.tabs {
    display: flex;
    width: 1080px;
}

button {
    font-family: Noto, sans-serif;
    font-size: 20px;
}

.tabs button {
    width: 150px;
    height: 64px;
    margin-right: 20px;
}

.about button {
    border: none;
    background-color: bisque;
    border-radius: 8px 8px 0 0;
}

.about button:hover {
    background-color: #eed3b7;
    cursor: pointer;
}

.about button:active {
    background-color: bisque;
    cursor: pointer;
}

.about-active button {
    border: none;
    background-color: bisque;
    border-radius: 8px 8px 0 0;
}

.work button {
    border: none;
    background-color: rgba(127, 166, 255, 0.75);
    border-radius: 8px 8px 0 0;

}

.work button:hover {
    background-color: rgba(127, 166, 255, 1);
}

.links button {
    border: none;
    background-color: rgba(137, 215, 149, 0.75);
    border-radius: 8px 8px 0 0;

}

.links button:hover {
    background-color: rgba(137, 215, 149, 1);
}

.links button:active {
    background-color: rgba(137, 215, 149, 0.75);
}

.contact button {
    background-color: rgba(242, 113, 113, 0.75);
    border-radius: 8px 8px 0 0;
    border: none;
}

.contact button:hover {
    background-color: rgba(242, 113, 113, 1);
}

.close button {
    height: 36px;
    width: 72px;
    background-color: #bbb;
    border: none;
    border-radius: 24px;
    display: inline-block;
    margin-left: 316px;
    margin-top: 12px;
    font-family: Noto, sans-serif;
    font-size: 16px;
}
.close button:hover {
    background-color: #989898;
    cursor: pointer;
}

.folder {
    display: flex;
    flex-direction: column;
    background-color: bisque;
    width: 1080px;
    height: 720px;
    max-height: 1440px;
    border-radius: 0 16px 0 0;
    box-shadow: 0 -2px 8px rgba(64, 64, 64, 25%);
    align-content: stretch;
    align-items: center;
}

.folder h2 {
    position: relative;
    bottom: 1497px;
    left: 346px;
    transform: rotate(7deg);
    padding-top: 300px;
    font-family: "Noto Mono", monospace;
}

.folder-content {
    display: flex;
    flex-direction: column;
    background-color: bisque;
    width: 1080px;
    height: 1440px;
    border-radius: 0 16px 16px 16px;
    align-content: stretch;
    align-items: center;
}

.paper {
    display: flex;
    flex-direction: column;
    width: 900px;
    min-height: 1080px;
    background-color: white;
    margin: 40px 40px 0;
    padding-top: 24px;
    z-index: 5;
    box-shadow: 0 2px 12px rgba(128, 128, 128, 0.33);
}

.paper h1 {
    font-family: Noto, sans-serif;
    align-self: center;
}

.paper p {
    font-family: Noto, sans-serif;
    padding: 0 64px 0;
}

.paperclip {
    position: relative;
    transform: rotate(27deg);
    bottom: 101px;
    left: 350px;
    scale: 50%;
    z-index: 50;
}

.headshot {
    position: relative;
    transform: rotate(7deg);
    bottom: 710px;
    left: 340px;
    scale: 25%;

}

.divider {
    position: absolute;
    z-index: 1;
    background-color: #b29f8a;
    height: 2px;
    width: 1080px;
    top: 855px;
}